// Переопределение общих стилей Bootstrap

btn:focus,
.btn-close:focus,
.btn-check:focus+.btn-outline-dark,
.form-control:focus,
.form-select:focus,
.accordion-button:focus,
.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.container-960 {
  max-width: 960px;
}

.border-top-light {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}